body {
  margin: 10px;
}

#lobby {
  display: block;
}

#game {
  display: none;
}

canvas {
  vertical-align: top;
  line-height: normal;
  background-color: #dfd;
  display: inline-block;
  width: 640px;
}

table {
  vertical-align: top;
  line-height: normal;
  display: inline-block;
  background-color: #dff;
}

th {
  background-color: #9ff;
  padding: 2px 10px;
}

td {
  background-color: #dff;
  padding: 2px 10px;
}

td:nth-child(2) {
  text-align: right;
}

.error {
  color: #f22;
}
